.home-page {
    background-color:#F1F3F6;
}

.padding-20px {
    padding: 20px !important;
}

.row {
    margin: 0 !important;
}

.line-through {
    text-decoration-line: line-through;
}

.padding-10 {
    padding: 10px;
}


.margin-t {
    margin-top: 10px;
}




